button {
  padding: 0;
  border: 0;
}

.projetos_box {
  background-image: url(Imagens/background_projetos.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.projetos_titulo {
  font-size: 5rem;
  color: #fefefe;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.projetos_titulo::after {
  content: " ]";
}

.projetos_titulo::before {
  content: "[ ";
}
.car_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.car_list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  transition: 200ms;
  max-width: 700px;
}

.car_list_item:hover {
  scale: 1.01;
}

.car_title {
  text-align: center;
  font-size: 2rem;
  color: #141414;
  background-color: #fefefe;
  width: 100%;
  padding: 0.5rem 0;
}

.car_img {
  width: 100%;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.opiniao_titulo {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.nissan_opiniao_div {
  display: none;
  z-index: 2;
  background-color: #fefefea6;
  padding: 2rem;
  text-align: justify;
  line-height: 1.4;
}

#nissan:focus + .nissan_opiniao_div {
  display: block;
}

.subaru_opiniao_div {
  display: none;
  z-index: 2;
  padding: 2rem;
  background-color: #fefefea6;
  text-align: justify;
  line-height: 1.4;
}

#subaru:focus + .subaru_opiniao_div {
  display: block;
}
.omega_opiniao_div {
  display: none;
  z-index: 2;
  padding: 2rem;
  background-color: #fefefea6;
  text-align: justify;
  line-height: 1.4;
  transition: 0.5s;
}

#omega:hover,
#omega:focus + .omega_opiniao_div {
  display: block;
}
.car_text {
  text-align: center;
  font-size: 1.5rem;
  color: #141414;
  background: #fefefe;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .projetos_titulo {
    font-size: 3rem;
  }
  .projetos_titulo::after {
    content: "";
  }

  .projetos_titulo::before {
    content: "";
  }

  .car_list_item {
    margin: 2rem;
  }

  .car_title {
    font-size: 1.5rem;
  }

  .nissan_opiniao_div,
  .subaru_opiniao_div,
  .omega_opiniao_div {
    line-height: 1;
    padding: 1rem;
    font-size: 0.9rem;
  }

  .car_text {
    font-size: 1rem;
  }
}
